
/*button padding */

.button-bar button {
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

/*refresh*/
.refresh-button {
    background-color: #2196f3;
    color: white;
}
.refresh-button:hover {
    background-color: #1976d2;
    transform: scale(1.05);
}

/*delete*/
.delete-button {
    background-color: #f44336;
    color: white;
}
.delete-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

/*enter edit mode*/
.edit-button {
    background-color: #4caf50;
    color: white;
}
.edit-button:hover {
    background-color: #388e3c;
}

/*edit deselect*/
.edit-button.active {
    background-color: #ff9800;
    color: white;
}
.edit-button.active:hover {
    background-color: #fb8c00;
    transform: scale(1.05);
}


/* shift buttons to right*/
.button-bar {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;
}


.editable-cell {
    cursor: default;
}

.edit-mode .editable-cell {
    cursor: pointer;
    background-color: rgba(200, 200, 0, 0.1);
}

.edit-mode .editable-cell:hover {
    background-color: rgba(200, 200, 0, 0.3);
}

.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}


.date-cell {
    display: flex;
    flex-direction: row;
}

.date-part {
    order: 1;
}

.time-part {
    order: 2;
}
